@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlight {
  background-color: lightgoldenrodyellow;
}
.active {
  background-color: lightsalmon;
}
.highlight:hover,
.hover:hover {
  background-color: rgb(230, 201, 173);
}

.active:hover {
  background-color: rgb(243, 200, 163);
}